
<div class="col-md-3">
    <div class="accordion" id="passportAccordion">
        <div class="accordion-item">
          <h2 class="accordion-header" id="passportHeading">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#passportCollapse" aria-expanded="false" aria-controls="passportCollapse">
              Паспорт
            </button>
          </h2>
          <div id="passportCollapse" class="accordion-collapse collapse show" aria-labelledby="passportHeading">
            <div class="accordion-body">
              <ul class="list-unstyled fw-normal pb-1 small">
                <li><a href="{% url 'prog:equipment_layout' %}"class="d-inline-flex align-items-center rounded active" aria-current="page" title="Начните работу с Bootstrap">Схема расположения оборудования</a></li>
                <li><a href="/docs/5.0/getting-started/download/" class="d-inline-flex align-items-center rounded" title="Получить Bootstrap">Таблица направлений</a></li>
                <li><a href="/docs/5.0/getting-started/contents/" class="d-inline-flex align-items-center rounded" title="Что включено">Изображения фаз</a></li>
                <li><a href="/docs/5.0/getting-started/browsers-devices/" class="d-inline-flex align-items-center rounded" title="Узнайте о браузерах и устройствах">Таблицы фиксированных программ</a></li>
                <li><a href="/docs/5.0/getting-started/javascript/" class="d-inline-flex align-items-center rounded" title="Оживите Bootstrap">Схема расположения детекторов</a></li>
                <li><a href="/docs/5.0/getting-started/build-tools/" class="d-inline-flex align-items-center rounded" title="Сценарии npm">Таблица детекторов</a></li>
                <li><a href="/docs/5.0/getting-started/webpack/" class="d-inline-flex align-items-center rounded" title="Сборщики">Контроль периферийного оборудования</a></li>
                <li><a href="/docs/5.0/getting-started/parcel/" class="d-inline-flex align-items-center rounded" title="Parcel">Чередование фаз</a></li>
                <li><a href="/docs/5.0/getting-started/accessibility/" class="d-inline-flex align-items-center rounded" title="Возможности и ограничения">Таблицы адаптивных программ</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
  </div>