<div class="col-md-3">
  <ul class="list-group">

    <li class="list-group-item">
      <a href="{% url 'tools:calculate_cycle' %}">Калькулятор времени цикла</a>
    </li>

    <li class="list-group-item">
      <a href="{% url 'tools:phase_control' %}">Управление фазой</a>
    </li>

    <li class="list-group-item">
      <a href="{% url 'tools:technical_coordination' %}">Техническая координация</a>
    </li>

    {% comment %} <li class="list-group-item">
      <a href="{% url 'tools:block_swarco' %}">Блокировка КУ и РУ Swarco</a>
    </li> {% endcomment %}

  </ul>
</div>