{% extends 'base.html' %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="container">
      <div class="row">

        {% include 'tools_sidebar.html' %}

        <!-- Правая часть страницы -->
        <div class="col-md-8">

          <h1>Управление фазой контроллера</h1>
          <p>Введите IP адрес контроллера, выберете фазу и включите управление</p>

          <form method="post" class="form-inline">
            {% csrf_token %}

            <div class="row">

              <div class="col-md-auto">
                <input type="text" class="form-control" id="ip_address" name="ip_address" value="{{ ip_address }}" placeholder="IP адрес">
              </div>

              <div class="col-md-2">
                <select class="form-control" id="phase_value" name="phase_value">
                  {% for value, label in phase_values %}
                    <option value="{{ value }}" {% if value == selected_phase %}selected{% endif %}>{{ label }}</option>
                  {% endfor %}
                </select>
              </div>

              <div class="col-md-2">
                <input type="number" class="form-control" id="timeout" name="timeout" min="60" max="300" value="60" placeholder="Таймаут (сек)">
              </div>
              
              <div class="col-md-auto">
                <button type="submit" id="start_button" class="btn btn-primary mb-2">Включить</button>
              </div>

              <div class="col-md-auto">
                <button type="submit" id="get_status_button" class="btn btn-secondary mb-2">Текущая фаза: {{ status }}</button>
              </div>

           </div>
          </form>

          {% if error_message %}
            <p style="color: red;">{{ error_message }}</p>
          {% endif %}

        </div>

      </div>
    </div>
  </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        document.getElementById("get_status_button").addEventListener("click", function(event) {
            event.preventDefault(); // Отменяет стандартное действие ссылки
    
            var ip_address = document.getElementById("ip_address").value;
            var phase_value = document.getElementById("phase_value").value;
            var url = "?get_status=1&ip_address=" + ip_address + "&phase_value=" + phase_value;
    
            // Переход по новому URL
            window.location.href = url;
        });
    });
</script>

{% endblock %}