{% extends 'base.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="container">
      <div class="row">

        {% include 'tools_sidebar.html' %}

        <!-- Правая часть страницы -->
        <div class="col-md-8">

          <h1>Техническая координация</h1>
          <p>Введите IP адрес контроллера, выберете фазу и включите управление</p>
          
          <form method="post" class="form-inline">
            {% csrf_token %}
            {{ formset.management_form }}
            {% for form in formset %}
                <div class="row">
                    <div class="col-md-auto">
                        {{ form.ip_address }}
                    </div>
                    <div class="col-md-2">
                        {{ form.phase_value }}
                    </div>
                    <div class="col-md-auto">
                        <button type="submit" name="apply_button_{{ forloop.counter }}" class="btn btn-primary mb-2">Apply to Controller</button>
                    </div>
                </div>
            {% endfor %}
          </form>

          {% if error_messages %}
            <p style="color: red;">{{ error_messages }}</p>
          {% endif %}

        </div>

      </div>
    </div>
  </div>
</div>

{% endblock %}