body {
    background-color: #121212; /* Цвет фона страницы */
    color: #ffffff; /* Цвет текста */
  }
  
  /* Пример переопределения цвета кнопок */
  .btn {
    background-color: #343a40; /* Цвет кнопок */
    border-color: #343a40; /* Цвет границ кнопок */
    color: #ffffff; /* Цвет текста кнопок */
  }